/* GLOBAL */
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.clear{
    clear: both;
}

body{
    background-color: #FAF4F2;
}

/* start header */
.header{
    background: #f8e1db;
    padding: 20px 80px 10px;
}

.header .logo{
    width: 50px;
    margin-bottom: 20px;
}

.menu li{
    display: inline;
    margin-right: 30px;
}

.menu a{
    color: black;
    text-decoration: none;
}

/* end header */

/* start carousel */

.carousel{
    background-image: url(../img/BG.png);
    height: 60vh;
    min-height: 600px;
    background-size: cover;
    background-position: center;
}

/* end carousel */

/* start activities */

.activities{
    background: #FAF4F2;
    padding: 80px 0;
    text-align: center;
}

.activities__title h2{
    color: #8D8D8D;
}

.activities__content{
    margin: 15px 0px;
}

.activities__content .content__item{
    width: 25%;
    height: 450px;
    padding: 15px;
    border-radius: 16px;
    float: left;
}

.content__item .content__container{
    background: white;
    width: 100%;
    height: 100%;
    padding: 30px;
    border-radius: 16px;
}

.activities__content .content__item img{
    width: 100%;
    border-radius: 16px;
}

.activities__content .content__item i{
    color: #E76F51;
}

.content__img{
    position: relative;
}

.content__img .heart{
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.542);
    line-height: 50px;
    border-radius: 16px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.content__details{
    padding: 20px;
}

.content__details p{
    color: #8D8D8D;
    margin: 15px 0px;
}

.content__details button{
    color: #8D8D8D;
    padding: 10px 50px;
    border-radius: 20px;
    border: none;
}

.content__details .btn{
    cursor: pointer;
}

.activities__content .viewall{
    padding: 10px 80px;
    border: 1px solid #E76F51;
    border-radius: 36px;
    color: #E76F51;
    background-color: #FAF4F2;
    cursor: pointer;
    margin-top: 20px;
}

.content__details .btn:hover, .activities__content .viewall:hover{
    background-color: #E76F51;
    color: white;
}


/* end activities */

/* start contract */

.contact{
    background-color: #f8e1db;
    border-radius: 0 20px 20px 0;
    margin-bottom: 100px;
}

.contact__left, .contact__right{
    float: left;
    width: 50%;
    padding: 20px 60px;
}

.contact__left{
    background: url(../img/mask.png);
    background-size: cover;
    background-position: center;
}

.contact__right{
    color: #8D8D8D;
    padding-top: 70px;
}

.contact__right p{
    margin: 12px 0 30px;
}

.contact__right h3{
    margin-bottom: 20px;
}

.contact__app, .contact__us{
    float: left;
    width: 50%;
}

.contact__us i{
    color: #E76F51;
    font-size: 25px;
    margin-right: 10px;
}

/* end contact */

/* start footer */

.footer{
    background-color: #F8E1DB;
    border-radius: 100px 100px 0 0;
    padding: 100px 30px 60px;
}

.footer h3{
    font-size: 18px;
    margin-bottom: 21px;
}

.footer__about{
    float: left;
    width: 40%;
    line-height: 28px;
    padding: 0 20px;
}

.footer__list{
    float: left;
    width: 60%;
    padding: 0 20px;
}

.footer__list ul li{
    list-style: none;
    line-height: 28px;
}

.footer__list a{
    text-decoration: none;
    color: black;
}

.footer__nav{
    float: left;
    width: 33.33%;
}

.footer__copyright{
    text-align: center;
    padding-top: 30px;
}

/* end footer */